# Sistema operativo
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/

# Dependencias / entorno
node_modules/

# Logs y temporales
*.log
verificacion-http.txt
ver-camiseta*.js

node_modules/
.DS_Store
*.zip
*.rar
*.mp4